//$navbar-light-color:                rgba(#E8C6E2, .55);
$body-bg: #BBE0E9;
//$nav-tabs-link-active-bg:#E8C6E2;
//$list-group-bg: #E8C6E2;
$navbar-light-color: black;
$primary: #E8C6E2;


@import "../node_modules/bootstrap/scss/bootstrap.scss";