@use 'custom';
//.nav-link{
//    font-family: Sen;
//}
.nav-link:hover{
    text-decoration: underline;
}
.video{
    padding: 30%;
}
.title{
    text-align: center;
    padding: 1%;
}
.title-video{
    text-align: center;
    padding-top: 3%;
    padding-bottom: .05%;
}
.row{
    align-items: center;
}
.video-and-title{
    align-items: center;
}
.sec{
    padding: 1%;
    text-align: center;
}